In [6]:
def hours():
    return("Open 9 - 5 daily")

In [7]:
import zoo

print(zoo.hours())

Open 9 - 5 daily

In [8]:
import zoo as menagerie

print(menagerie.hours())

Open 9 - 5 daily

In [9]:
import sqlite3
con = sqlite3.connect("books.db")
cur = con.cursor()

cur.execute("CREATE TABLE books(title VARCHAR(100) PRIMARY KEY, author VARCHAR(100), year INT)")
cur.execute('INSERT INTO books VALUES("The Weirdstone of Brisingamen", "Alan Garner", 1960)')
cur.execute('INSERT INTO books VALUES("Perdido Street Station", "China Miéville", 2000)')
cur.execute('INSERT INTO books VALUES("Thud!", "Terry Pratchett", 2005)')
cur.execute('INSERT INTO books VALUES("The Spellman Files", "Lisa Lutz", 2007)')
cur.execute('INSERT INTO books VALUES("Small Gods", "Terry Pratchett", 1992)')

In [10]:
import sqlalchemy

engine = sqlalchemy.create_engine('sqlite:///books.db')

with engine.connect() as conn:
    cur.execute("SELECT * FROM books ORDER BY title")
    rows = cur.fetchall()
    print(rows)

cur.close()
con.close()
conn.close()

[('Perdido Street Station', 'China Miéville', 2000), ('Small Gods', 'Terry Pratchett', 1992), ('The Spellman Files', 'Lisa Lutz', 2007), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Thud!', 'Terry Pratchett', 2005)]